@page
@model WelcomeModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="border-bottom">
    <h3>Welcome @User.Identity.Name</h3>
</div>
<p>
    Register as an attendee to get access to cool features.
</p>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Attendee.UserName" value="@User.Identity.Name" type="hidden" />

            <div class="form-floating mb-3">
                <input asp-for="Attendee.FirstName" class="form-control" />
                <label asp-for="Attendee.FirstName"></label>
                <span asp-validation-for="Attendee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Attendee.LastName" class="form-control" />
                <label asp-for="Attendee.LastName"></label>
                <span asp-validation-for="Attendee.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Attendee.EmailAddress" class="form-control" />
                <label asp-for="Attendee.EmailAddress"></label>
                <span asp-validation-for="Attendee.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Save</button>
            </div>
        </form>
    </div>
</div>

 @section Scripts
 {
     <partial name="_ValidationScriptsPartial" />
 }